---
import { siteConfig } from "../../site.config";
---

<header class="relative mb-7 flex items-center" id="main-header">
	<a
		aria-current={Astro.url.pathname === "/" ? "page" : false}
		class="inline-flex items-center"
		href="/"
	>
		<span class="text-xl font-bold sm:text-2xl">{siteConfig.title}</span>
	</a>
</header>
